@font-face {
  font-family: "Press Start";
  src: url("https://s3.amazonaws.com/sepulcher-spelunker/PressStart2P.ttf")
    format("truetype");
}
html {
  background: #111;
}
canvas {
  display: block;
  /*margin-left: auto;*/
  margin-right: auto;
}
#stats {
  text-align: center;
}
#controls {
  font-size: 1rem;
  width: 300px;
  margin-right: 40px;
  float: left;
}
p {
  font-family: "Press Start", monospace;
  color: white;
}
